@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import 'vars';
@import 'global';


html {
  box-sizing: border-box;
}
*,*::after,*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #000;
  color: #6bd5fd;
  font-size: 16px;
}

.logo {
  padding-left: 50px;
  margin-bottom: 35px;
}

.logo__img {
     max-width: 100%;
   }

.container {
   padding: 0px 5px;
   max-width: 1170px;
   margin: 0 auto;
   position: relative;
}

.header {
  min-height: 200px;
  &__inner {
    padding-top: 140px;
    display: flex;
    flex-wrap: wrap;
    &-img {
      position: absolute;
      top: 65px;
      width: 447px;
      height: 435px;
      left: 813px;
      z-index: -1;
      }
      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 173.4%;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.145em;
        max-width: 73%;
        padding-left: 50px;
      }
  }
}

.social {
  position: absolute;
  top: 37px;
  left: -64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 153px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 30px;
  &-ico {
    width: 48px;
    height: 48px;
  }
}

@media(max-width: 1350px) {
  .social {
      left: 10px;
    }
}

@media(max-width: 1045px) {
  .header__inner-img {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 0px 20px;
    height: auto;
  }
  .logo {
    text-align: center;
    padding: 0 20px;
  }
  .social {
    top: 0; 
    width: 70px; 
    z-index: 10;
  }

  .header__inner-title {
    font-size: 16px;
    max-width: 100%;
    text-align: justify;
    display: inline-block;
    padding: 0px 8px;
  
  }

.logo {
  display: inline-block;
  width: 100%;
  z-index: 2;
  }

@media(max-width: 355px) {
  .logo-img {
    min-height: 9.2rem;
  }
  }

}

.main-content {
  padding-top: 2.5em;
  &-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    margin-bottom: 1.2em;
    padding-left: 50px;
  }
  &__slider {
display: flex;
flex-wrap: wrap;
padding: 0px 30px;
justify-content: space-between;
  }
}
.content__item {
    max-width: 270px;
    margin: 10px 80px 15% 25px;
    font-size: 22px;
    line-height: 25px;
    &-title {
      margin-bottom: 16px;
      padding-left: 5px;
    }
    &-price {
      margin-top: 3%;
    }
}

.content__item .content__item-img {
  object-fit: cover;
  width: 257px;
  height: 245px;
}
@media(min-width: 1167px) {
  .content__item {
      margin-bottom: 50px;
    }
}



@media(max-width: 575px) {
  .content__item .content__item-img {
    max-width: 115px;
  }
  .header__inner {
    padding-top: 70px;
  }
}


@media(max-width: 385px) {
  .content__item {
    margin-top: 8%;
  }
}

@media(max-width: 650px) {
  .content__item {
    font-size: 14px;
    line-height: 17px;
  }
  .main-content__slider {
    padding: 0px 30px;
  }

}

@media(min-width: 1167px) {
  .main-content__slider {
    flex-wrap: nowrap;
    overflow: hidden;
  }
}

.rub {
  display: inline-block;
  margin-left: 3px;
  background-image: url(../images/icons/ruble.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 0.7em;
  height: 0.7em;
} 

.footer__inner {
  position: relative;
  padding-top: 20px;
  font-size: 20px;
}

.copyright {
  font-weight: 600;
}
 
@media(max-width: 575px)  {
  .footer__inner {
    font-size: 14px;
  }
}